<div class="about">
  <div class="wrap">
    <div class="aboutTxt">
    <div class="title">About Geboon</div>
      <p>Etiam varius elit a lacus. Etiam nec quam. Curabitur lacinia interdum urna. Sed tortor ligula, vehicula et, consequat quis, laoreet eu, augue. Fusce ut nisl. In facilisis porta turpis. Suspendisse sit amet pede vel ligula malesuada accumsan. 
      Donec condimentum. Phasellus vestibulum aliquet nisi. Quisque ipsum. Fusce tincidunt luctus mauris. Mauris eu libero quis eros mattis volutpat. Donec ut arcu a mauris cursus fringilla. Mauris interdum, nulla et auctor euismod, turpis diam facilisis magna.</p>
      </div>
      <div class="fb">
        <img width="94" height="102" src="images/fb.png">
      <div class="txt">Like Us on<br><br><span class="large">facebook</span></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
