<div class="bottom">
  <div class="wrap">
    <% category_grouped_by_parents_ordered.each do |(parent, categories)| %>
      <div class="category">
        <div class="title"><%= parent %></div>
        <ul>
          <li>
          <% categories.each do |category| %>
            <%= link_to "#{category.name} in #{get_region_name}", :search => {:category_name => category.name.to_crc32, :city_region => get_region_value, :city_region_text => get_region_name} %><br />
          <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

