<div id="search">
  <div class="inner">
    <div class="searchform">
      <form>
        <input type="text" value="Enter a keyword" name="">
        <select name="All categories"><option>All categories</option></select>
        <select name="Entire India"><option>Entire India</option></select>
        <input type="button" value="Search" name="">
        <div class="check"><input type="checkbox" value="For Sale" name="for sale"> For Sale</div>
        <div class="check"><input type="checkbox" value="want to buy" name="want to buy"> Want to Buy</div>
      </form>
    </div>
  </div>
  <div class="end"></div>
</div>
