<div id="footer">
  <div class="wrap">
    <ul class="footlinks">
      <li><a href="#">About</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Security</a></li>
      <li><a href="#">Rules</a></li>
    </ul>
    <div class="rights">
     &#169; Geboon.com. All Rights Reserved
    </div>
  </div>
</div>
