<div id="header">
  <div class="wrap">
    <div class="logo"><a href="index.html"><img src="/images/logo.png" alt="geboon" /></a></div>
    <div class="toplinks">
      <ul class="topmenu">
        <li><a href="#"><img src="/images/icon_home.png" width="19" height="15" /><br/>Home</a></li>
        <li><a href="#"><img src="/images/icon_fav.png" width="19" height="15" /><br/>Favourites</a></li>
        <li><a href="#"><img src="/images/icon_search.png" width="19" height="15" /><br/>Search</a></li>
        <li><a href="#"><img src="/images/icon_ad.png" width="19" height="15" /><br/>Post Ad</a></li>
      </ul>
    </div>
  </div>
</div>
